# Para local
PORT=####
DB_HOST=localhost
DB_PORT=3306 
DB_USER=root
DB_PASS=root
DB_NAME=db
JWT_SECRET=clave_secreta

# Configuración del correo electrónico
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_SECURE=false
EMAIL_USER=####
EMAIL_PASSWORD=####
EMAIL_FROM_EMAIL=####
EMAIL_FROM_NAME=ñaca ñaca

# Para Redis (para blacklist tokens)
REDIS_HOST=localhost
REDIS_PORT=####
REDIS_PASSWORD=

# URL del frontend para los enlaces de restablecimiento
FRONTEND_URL=http://localhost:3001

# Para Azure
# PORT=3000
# DB_HOST=####
# DB_PORT=3306 
# DB_USER=####
# DB_PASS=####
# DB_NAME=####
# JWT_SECRET=clave_secreta
